# build de cmake
build/
Backend/build/

# discos simulados
*.mia
Backend/disks/

# reportes generados
reports/
Backend/reports/

# ejecutables
*.out
*.exe
app

# archivos temporales
*.log
*.tmp

# vscode
.vscode/

# linux
*.swp